CompileFlags:                     # Tweak the parse settings
  Add: [-std=c++20]             # treat all files as C++, enable more warnings
  Compiler: g++               # Change argv[0] of compile flags to `clang++`
